@page
@using IdentityApp.Authorization;


@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <p>This is our invoice Management system</p>
</div>


@if (User.IsInRole(Constants.InvoiceAdminRole))
{
    <div>
        <canvas id="myChart"></canvas>
    </div>
}



@section Scripts {

    <script>
        const labels = ['January', 'February', 'March', 'April','May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        const data = {
            labels : labels,
            datasets: [
                {
                    label: "Revenue Submitted",
                    backgroundColor: "rgb(255,255,255)",
                    borderColor: "rgb(255,255,255)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueSubmitted)
                },
                {
                    label: "Revenue Rejected",
                    backgroundColor: "rgb(99,255,132)",
                    borderColor: "rgb(99,255,132)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueRejected)
                },
                {
                    label: "Revenue Approved",
                    backgroundColor: "rgb(255,99,123)",
                    borderColor: "rgb(255,99,132)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueApproved)
                        }
            ]
        };

        const config={
            type:'line',
            data:data,
            options:{}
        };

        const myChart = new Chart(document.getElementById('myChart'), config);

    </script>

}